<!DOCTYPE html>
<html>
<head>
	<title>Tornado Test</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{{ static_url("custom.css") }}">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<h1>RDF</h1>
        <h2>About: <a href= "{{url}}"> {{url}} </a> </h2>
		<table class="table">
			<tbody>
				{% for subject, predicateDict in rdfData.items() %}
                    {% if subject == url %}
					    {% for predicate, objectList in predicateDict.items() %}
                            <tr>
                                <td><a href="{{ predicate.encode('utf-8') }}">{{ predicate.encode('utf-8') }}</a></td>
                                <td>
                                    <ul>
						            {% for objectDict in objectList %}
                                        {% if objectDict["type"] == "uri" %}
									        <li><a href="{{ unicode(objectDict["value"]).encode('utf-8') }}"><p class="dont-break-out">{{ unicode(objectDict["value"]).encode('utf-8') }}</p></a></li>
								        {% else %}
									        <li>{{ unicode(objectDict["value"]).encode('utf-8') }}</li>
								        {% end %}
						            {% end %}
                                    </ul>
                                </td>
                            </tr>
					    {% end %}
                    {% else %}
                        {% for predicate, objectList in predicateDict.items() %}
                            <tr>
                                <td> is <a href="{{ predicate.encode('utf-8') }}"> {{ predicate.encode('utf-8') }} </a> of </td>
                                <td><ul><li><a href="{{ subject.encode('utf-8') }}">{{ subject.encode('utf-8') }}</a></li></ul></td>
                            </tr>
					    {% end %}
                    {% end %}
                {% end %}
			</tbody>
		</table>
	</div>
</body>
</html>