<!DOCTYPE html>
<html>
<head>
	<title>Tornado Test</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{{ static_url("custom.css") }}">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<h1>RDF</h1>
		<table class="table">
			<tbody>
				{% for subject, predicateDict in rdfData.items() %}
					{% for predicate, objectList in predicateDict.items() %}
						{% for objectDict in objectList %}
							<tr>
								<td><a href="{{ subject.encode('utf-8') }}">{{ subject.encode('utf-8') }}</a></td>
								<td><a href="{{ predicate.encode('utf-8') }}">{{ predicate.encode('utf-8') }}</a></td>
								{% if objectDict["type"] == "uri" %}
									<td><a href="{{ unicode(objectDict["value"]).encode('utf-8') }}"><p class="dont-break-out">{{ unicode(objectDict["value"]).encode('utf-8') }}</p></a></td>
								{% else %}
									<td>{{ unicode(objectDict["value"]).encode('utf-8') }}</td>
								{% end %}
							</tr>
						{% end %}
					{% end %}
				{% end %}
			</tbody>
		</table>
	</div>
</body>
</html>