<!DOCTYPE html>
<html>
<head>
	<title>Tornado Test</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<h1>RDF</h1>
		<table>
			<tbody>
				{% for subject in rdfData %}
					<tr>
						<td>{{ subject.encode('utf-8') }}</td>
						<td>
							{% for prop in rdfData[subject] %}
								{{ prop.encode('utf-8') }}
								<td>
								{% for i in range(0, len(rdfData[subject][prop])) %}
									{{ unicode(rdfData[subject][prop][i]["value"]).encode('utf-8') }}<br>
								{% end %}
								</td>
							{% end %}
						</td>
					</tr>
				{% end %}
			</tbody>
		</table>
	</div>
</body>
</html>