{% from rdflib import URIRef, BNode %}
{% import inspect %}

<!DOCTYPE html>
<html>
<head>
	<title>Tornado Test</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{{ static_url("custom.css") }}">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
	<ul id="menu">
		<li><a class="active" href="{{reverse_url('main')}}">Resources</a></li>
		<li><a href="{{reverse_url('patch_requests')}}">Patch requests</a></li>
	</ul>
	<div class="container">
		<h1>RDF</h1>
        <h2>About: <a href= "{{url}}"> {{url}} </a> </h2>
		<form action="{{reverse_url('resource')}}" method="get">
			<div class="form-group">
				<label for="searchText">Filter:</label>
				<input type="hidden" name="url" value="{{url}}" />
				<input id="searchText" name="searchText" placeholder="Search..." value="{{searchText}}" class="form-control" type="text" />
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
		</form>
		<h3>Triples where <a href= "{{url}}"> {{url}} </a> is the subject:</h3>
			<table class="table">
				<tbody>
					{% for subject, predicate, object in rdfGraph.triples( (URIRef(url), None, None) ) %}
						<tr>
							<td class="first"><a href="{{ predicate }}">{{ predicate }}</a></td>
							{% if isinstance(object, URIRef) %}
								<td class="second">
									<p class="break">
										<a href="{{object}}">{{ object }}</a>
									</p>
								</td>
							{% else %}
								<td class="second">
									<p class="break">
										{{ object }}
									</p>
								</td>
							{% end %}
						</tr>
					{% end %}						
				</tbody>
			</table>
		<h3>Triples where <a href= "{{url}}"> {{url}} </a> is the subject:</h3>
			<table class="table">
				<tbody>
					{% for subject, predicate, object in rdfGraph.triples( (None, None, URIRef(url)) ) %}
						<tr>
							<td class="first">is <a href="{{ predicate }}">{{ predicate }}</a> of</td>
							{% if isinstance(object, URIRef) %}
								<td class="second">
									<p class="break">
										<a href="{{subject}}">{{ subject }}</a>
									</p>
								</td>
							{% else %}
								<td class="second">
									<p class="break">
										{{ subject }}
									</p>
								</td>
							{% end %}
						</tr>
					{% end %}						
				</tbody>
			</table>
		<h3>Blank nodes</h3>
			<table class="table">
				<tbody>
					{% for subject, predicate, object in rdfGraph.triples( (None, None, None) ) %}
						{% if isinstance(subject, BNode) %}
						<tr>
							<td>{{ subject }}</td>
							<td>{{ predicate }}</td>
							<td>{{ objectobject }}</td>
						</tr>
						{% end %}
					{% end %}						
				</tbody>
			</table>
	</div>
</body>
</html>