.break {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
}

td.first {
  max-width: 33%;
}

td.second {
  max-width: 33%;
}

input[type=text] {
    display: inline-block;
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

ul#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #585858 ;
}

ul#menu li {
    float: left;
}

ul#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul#menu li a:hover {
    background-color: #111;
    color:white;
    text-decoration:none
}

ul#menu .active {
    background-color: #006bb3;
    color: white;
}

.editable-mode-button {
    position: fixed;
    right: 0;
    bottom: 0;
}

input.editable-mode {
    display: inline-block;
    width: 100%;
    color: black;
}
input[type=text].editable-mode.valid {
    background-color: #B4F0B8;
}
input[type=text].editable-mode.invalid {
    background-color: #F0819B;
}
.panel-bottom {
    margin-bottom: 0;
}
.ui-autocomplete {
    position:absolute;
    cursor:default;
    z-index:1001 !important;
    max-height: 500px;
    overflow-y: auto;   /* prevent horizontal scrollbar */
    overflow-x: hidden; /* add padding to account for vertical scrollbar */
}