{% extends "base.html" %}
{% block menu %}
	<li><a href="{{reverse_url('main')}}">Resources</a></li>
	<li><a class="active" href="{{reverse_url('patch_list')}}">Patch requests</a></li>
{% end %}
{% block content %}
	<h1>Patch requests:</h1>

	<table class="table">
		{% for key, value in patchRequestJson.iteritems() %}
			{% for triplesList in value['deletedData'] %}
				{% for triple in triplesList %}
					<tr id="delete">
						<td>{{ triple['subject'].encode('utf-8') }}</td>
						<td>{{ triple['predicate'].encode('utf-8') }}</td>
						<td>{{ triple['object'].encode('utf-8') }}</td>
						<td>{{ value['timestamp'].encode('utf-8') }}</td>
					</tr>
				{% end %}
			{% end %}
			{% for triplesList in value['addedData'] %}
				{% for triple in triplesList %}
					<tr id="add">
						<td>{{ triple['subject'].encode('utf-8') }}</td>
						<td>{{ triple['predicate'].encode('utf-8') }}</td>
						<td>{{ triple['object'].encode('utf-8') }}</td>
						<td>{{ value['timestamp'].encode('utf-8') }}</td>
					</tr>
				{% end %}
			{% end %}
		{% end %}
	</table>

{% end %}