{% extends "base.html" %}

{% block content %}

{% from rdflib import URIRef, BNode %}
{% import inspect %}
	<h1>RDF</h1>
    <h2>About: <a href="{{url}}"> {{url}} </a> </h2>
	<form action="{{reverse_url('resource')}}" method="get">
		<div class="form-group">
			<label for="searchText">Filter:</label>
			<input type="hidden" name="url" value="{{url}}" />
			<input id="searchText" name="searchText" placeholder="Search..." value="{{searchText}}" class="form-control" type="text" />
			<button type="submit" class="btn btn-default">Submit</button>
		</div>
	</form>

	<pre>...</pre>
	<button>Action</button>

	<!-- VUE START --> 
	<template id="vue" :url="'{{url}}'" :json-graph="{{jsonGraph}}">
		<h3>Triples where <a href="{{url}}">{{url}}</a> is the subject:</h3>
		<table class="table">
			<tbody>
				<tr v-for="(predicate, object) in urlAsSubject">
					<td class="first"><a href="{% raw '{{ predicate }}' %}">{% raw '{{ predicate }}' %}</a></td>
					<td class="second" v-if="object[0].type == 'uri'">
						<p class="break">
							<a href="{% raw '{{ object[0].value }}' %}">{% raw '{{ object[0].value }}' %}</a>
						</p>
					</td>
					<td class="second" v-else>
						<p class="break">
							{% raw '{{ object[0].value }}' %}
						</p>	
					</td>
				</tr>			
			</tbody>
		</table>			

		<h3>Triples where <a href= "{{url}}"> {{url}} </a> is the object:</h3>
		<table class="table">
			<tbody>
				<tr v-for="(predicate, subject) in urlAsObject">
					<td class="first">is <a href="{% raw '{{ predicate }}' %}">{% raw '{{ predicate }}' %}</a> of</td>
					<td class="second">
						<p class="break">
							<a href="{% raw '{{ subject }}' %}">{% raw '{{ subject }}' %}</a>
						</p>
					</td>
				</tr>
			</tbody>
		</table>

		<h3>Blank nodes</h3>
		<table class="table">
			<tbody>
				{% for subject, predicate, object in rdfGraph.triples( (None, None, None) ) %}
					{% if isinstance(subject, BNode) %}
					<tr v-for="">
						<td>{{ subject }}</td>
						<td>{{ predicate }}</td>
						<td>{{ object }}</td>
					</tr>
					{% end %}
				{% end %}						
			</tbody>
		</table>
	</template>
	<!-- VUE END -->

	<!-- TODO BLANK NODES -->
	<h3>Blank nodes</h3>
		<table class="table">
			<tbody>
				{% for subject, predicate, object in rdfGraph.triples( (None, None, None) ) %}
					{% if isinstance(subject, BNode) %}
					<tr>
						<td>{{ subject }}</td>
						<td>{{ predicate }}</td>
						<td>{{ object }}</td>
					</tr>
					{% end %}
				{% end %}						
			</tbody>
		</table>
{% end %}
